:root {
  --blue: #6495ed;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: var(--blue);
  height: 150px;
  margin-bottom: 25px;
  flex-grow: 1;
  flex-basis: 25%;
}

header {
  max-height: 150px;
  width: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
  margin-left: 25px;
  margin-right: 25px;
  text-decoration: none;
}

nav a {
  text-decoration: none;
  margin-top: 50px;
  margin-left: 10px;
  margin-right: 10px;
  font-weight: 700;
  font-size: 20px;
  margin-top: 65px;
}

.container h1 {
  font-size: 36px;
  font-weight: 700;
  font-family: sans-serif;
  padding: 50px;
}
.container img {
  margin-left: 25px;
  width: 140px;
  height: 140px;
  border-radius: 25%;
}
.hi {
  margin-top: -15px;
  font-size: 32px;
  font-weight: 700;
  font-family: sans-serif;
  background-color: pink;
  text-align: center;
  height: 200px;
}
.hi h2 {
  margin-top: 70px;
  vertical-align: middle;
}
.projects-title {
  text-align: center;
  background-color: blanchedalmond;
  font-size: 32px;
}
.projects {
  display: flex;
  flex-direction: row;
  flex-basis: 300%;
  flex-wrap: wrap;
  justify-content: center;
  border: 5px solid black;
  height: 427px;
  padding: 130px;
  row-gap: 50px;
  background-color: rgb(189, 162, 112);
}

.edsheeran-photo,
.tasy-photo,
.liverpool-photo,
.transport-photo {
  width: 300px;
  height: 250px;
  border: 5px solid black;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 7px;
}

.card h2 {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
}

form :hover {
  cursor: grab;
}

@media screen and (max-width: 992px) {
  .card {
    width: 25%;
  }
}

@media screen and (max-width: 768px) {
  .card {
    width: 50%;
  }
}

@media screen and (max-width: 768px) {
  .card {
    width: 100%;
  }
}
footer {
  background-color: var(--blue);
  text-align: center;
}
